<div class="row">
  <div class="col-md-12">    
    <div class="col-md-4 col-md-offset-4 well">
      <form class="new_user" name="myCreateForm" ng-submit="create()" ng-hide="edit">
        <div class="form-group">
          <label>Gallery Title</label><br>
          <input autofocus="autofocus" class="form-control" type="text" ng-model = "gallery.title" name="gallery.title" required>
        </div>        
        <div class="actions">
          <input type="submit" name="commit" value="Create Gallery" class="btn btn-primary" ng-disabled = "myCreateForm.$invalid">
        </div>
      </form>
      <form class="new_user" name="myForm" ng-submit="update()" ng-show="edit">
        <div class="form-group">
          <label>Gallery Title</label><br>
          <input autofocus="autofocus" class="form-control" type="text" ng-model = "gallery.title" name="title" required>
        </div>        
        <div class="actions">
          <input type="submit" name="commit" value="Update Gallery" class="btn btn-primary" ng-disabled = "myForm.$invalid">
          <a href="" ng-click="cancel()">Cancel</a>
        </div>
      </form>
    </div>    
  </div>  
  <div class="col-md-3 well" ng-repeat="gallery in galleries">
    <a href="galleries/{{gallery.id}}">{{gallery.title}}</a>
    <a href="" style="color:red" ng-click="deletegallery(gallery.id)"><i class="fa fa-times pull-right"></i></a>
    <a href="" style="color:blue" ng-click="editgallery(gallery)"><i class="fa fa-pencil-square-o pull-right"></i></a>
  </div>
</div>
<pre>
  {{galleries | json}}
</pre>
